@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


 
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #cccccc;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

  html {
      font-family: 'Cairo', sans-serif !important;
      font-family: 'Open Sans', sans-serif !important;
  }

  .input-style {
      @apply ring-1  ring-primary text-gray-950 font-normal  bg-white rounded-sm px-3 py-2  outline-0  
  }

  .button-style {
      @apply bg-primary w-full px-5 py-3 text-white  hover:bg-primary-hover rounded-lg
  }
